#headerBlock{
    width: 100%;
    height: 10vh;
    background-color:#2677B0;
    /* position: fixed;
    top: 0; */
}
#headerBlock nav{
    width: 90%;
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 50%;
}
#headerBlock nav figure{
    flex-basis: 20%;
}
#headerBlock nav figure a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
#headerBlock nav ul{
    width: 100%;
    height: inherit;
    flex-basis: 20%;
    list-style: none;
    display: flex;
    gap: 15%;
    align-items: center;
}
#headerBlock nav ul li a{
    color: #fff;
    display: inline-block;
    height: inherit;
    width: 100%;
    text-decoration: none;
}
#headerBlock nav ul li a:hover{
    background-color: aliceblue;
}