
.formMainBlock {
  margin-top: 20px;
}

.submitBtn {
  background-color: #2677b0;
  border: 2px solid #2677b0 !important;
  border-radius: 20px !important;

}

.submitBtn:hover {
  border: 2px solid #2677b0 !important;
  color: #2677b0 !important;
  background-color: transparent !important;
  font-weight: bold !important;
}

.formMainBlock {
  display: flex;
  justify-content: center;
}

.formMainBlock>aside {
  background-image: url(./regpage.jpeg);
  width: 300px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}