* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#landingPage{
width: 100%;
display: flex;
padding: 5%;
align-items: center;
justify-content: space-around;
gap: 5%;
/* height: 100vh; */
/* background-color: #ababab; */
}
#landindPage>h1{
    flex-basis: 40%;
}
#landingPage>div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 60%;
    width: 100%;
}
footer{
}
.active{
    color: white !important;
    font-weight: 900 !important;
    border-bottom: 2px ridge #ababab;
    padding-bottom: 5px!important;
}
