* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#landingPage{
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
gap: 10%;
/* height: 100vh; */
/* background-color: #ababab; */
}
#landindPage>h1{
    flex-basis: 30%;
}
#landingPage>div{
    flex-basis: 70%;
    width: 100%;
}
footer{
    position: fixed;
    bottom: 0;
}
.active{
    color: white !important;
    font-weight: 900 !important;
    border-bottom: 2px ridge #ababab;
    padding-bottom: 5px!important;
}
